# Dependencies
node_modules/

# Build & Packaging outputs
release/
dist/

# Build cache
.npm-cache/
.builder-cache/

# Logs & Temporary files
*.log
dsh-desktop-test*.txt
.DS_Store
Thumbs.db

# Temporary & User test artifacts
*.tgz
books/
